# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
Library/cache/*
Library/previews/*
Temp/*
# svn & cvs
.svn
CVS
Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/FailedAssetImports.txt
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/ScriptMapper
Library/expandedItems
Library/ProjectSettings.asset
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-UnityScript.dll
Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.pidb
Assembly-UnityScript.unityproj
ClubLine-csharp.sln
ClubLine.sln
ClubLine.userprefs
